.container{
    /* border: 2px solid black; */
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 100%;
    height: 15vh;
    margin-top: 50px;
    margin-bottom: 30px;
    background: white;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
    /* border: 2px solid black; */
}
.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: black;
    border-bottom: 4px solid black;
    padding-bottom: 7px;
}
.display img{
    width: 30px;
    cursor: pointer;
    filter: saturate(0);
}

.display input{
    width: 70%;
    border: 0;
    outline: 0;
    font-size: 24px;
}
.container button img{
    height: 28px;
    margin-right: 10px;
}
.container button{
    margin-top: 28px;
    color: whitesmoke;
    border: 0;
    outline: 0;
    background: black;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 26px;
    border-radius: 5px;
    cursor: pointer;
}

.options{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    gap:2px;
    padding: 3px 0;
}

.options input[type="range"]{
    appearance: none;
    border: none;
    outline: none;
    height: 6px;
    background: black;
    border-radius: 5px;
    width:100%;
}

.options input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    height: 18px;
    width: 18px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}
.options input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
}

.options input[type="checkbox"]{
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.options input[type="checkbox"]:checked {
  background: black;
}

.options input[type="checkbox"]:checked::after {
  content: '✔';
  color: white;
  font-size: 12px;
  position: absolute;
  top: -2px;
  left: 3px;
}

.options label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.options label:first-child {
  font-weight: 500;
}

.range{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.options label{
  display:flex;
  align-items:center;
  gap:12px;
  cursor:pointer;
}

.strength-box{
  margin-top: 15px;
  font-size: 18px;
}

.weak{
  background: red;
  color: red;
}

.medium{
  background: orange;
  color: orange;
}

.strong{
  background: green;
  color: green;
}

.strength-box{
  margin-top: 15px;
}

.bar{
  width: 100%;
  height: 10px;
  background: #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.fill{
  height: 100%;
  width: 0%;
  transition: width 0.3s ease;
}